## Productivity Prediction of Garment Employees Data Set

In [1]:
import pandas as pd

In [2]:
PATH_URL = "https://archive.ics.uci.edu/ml/machine-learning-databases/00597/garments_worker_productivity.csv"

df = pd.read_csv(PATH_URL)
df

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,3/11/2015,Quarter2,finishing,Wednesday,10,0.75,2.90,NaN,960,0,0.0,0,0,8.0,0.628333
1193,3/11/2015,Quarter2,finishing,Wednesday,8,0.70,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1194,3/11/2015,Quarter2,finishing,Wednesday,7,0.65,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1195,3/11/2015,Quarter2,finishing,Wednesday,9,0.75,2.90,NaN,1800,0,0.0,0,0,15.0,0.505889
1196,3/11/2015,Quarter2,finishing,Wednesday,6,0.70,2.90,NaN,720,0,0.0,0,0,6.0,0.394722


### Data Set Information:

The Garment Industry is one of the key examples of the industrial globalization of this modern era. It is a highly labour-intensive industry with lots of manual processes. Satisfying the huge global demand for garment products is mostly dependent on the production and delivery performance of the employees in the garment manufacturing companies. So, it is highly desirable among the decision makers in the garments industry to track, analyse and predict the productivity performance of the working teams in their factories. This dataset can be used for regression purpose by predicting the productivity range (0-1) or for classification purpose by transforming the productivity range (0-1) into different classes.


### Attribute Information:

- date : Date in MM-DD-YYYY
- day : Day of the Week
- quarter : A portion of the month. A month was divided into four quarters
- department : Associated department with the instance
- team_no : Associated team number with the instance
- no_of_workers : Number of workers in each team
- no_of_style_change : Number of changes in the style of a particular product
- targeted_productivity : Targeted productivity set by the Authority for each team for each day.
- smv : Standard Minute Value, it is the allocated time for a task
- wip : Work in progress. Includes the number of unfinished items for products
- over_time : Represents the amount of overtime by each team in minutes
- incentive : Represents the amount of financial incentive (in BDT) that enables or motivates a particular course of action.
- idle_time : The amount of time when the production was interrupted due to several reasons
- idle_men : The number of workers who were idle due to production interruption
- actual_productivity : The actual % of productivity that was delivered by the workers. It ranges from 0-1.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1197 non-null   object
 1   quarter                1197 non-null   object
 2   department             1197 non-null   object
 3   day                    1197 non-null   object
 4   team                   1197 non-null   int64
 5   targeted_productivity  1197 non-null   float64
 6   smv                    1197 non-null   float64
 7   wip                    691 non-null    float64
 8   over_time              1197 non-null   int64
 9   incentive              1197 non-null   int64
 10  idle_time              1197 non-null   float64
 11  idle_men               1197 non-null   int64
 12  no_of_style_change     1197 non-null   int64
 13  no_of_workers          1197 non-null   float64
 14  actual_productivity    1197 non-null   float64
dtypes: float64(6), int64(5), object(4)
memory usage: 140.4+ KB

In [4]:
df.shape

(1197, 15)

In [5]:
df.head()

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382

In [6]:
df.tail()

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
1192,3/11/2015,Quarter2,finishing,Wednesday,10,0.75,2.9,NaN,960,0,0.0,0,0,8.0,0.628333
1193,3/11/2015,Quarter2,finishing,Wednesday,8,0.70,3.9,NaN,960,0,0.0,0,0,8.0,0.625625
1194,3/11/2015,Quarter2,finishing,Wednesday,7,0.65,3.9,NaN,960,0,0.0,0,0,8.0,0.625625
1195,3/11/2015,Quarter2,finishing,Wednesday,9,0.75,2.9,NaN,1800,0,0.0,0,0,15.0,0.505889
1196,3/11/2015,Quarter2,finishing,Wednesday,6,0.70,2.9,NaN,720,0,0.0,0,0,6.0,0.394722

In [7]:
df.describe()

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
count,1197.000000,1197.000000,1197.000000,691.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000
mean,6.426901,0.729632,15.062172,1190.465991,4567.460317,38.210526,0.730159,0.369256,0.150376,34.609858,0.735091
std,3.463963,0.097891,10.943219,1837.455001,3348.823563,160.182643,12.709757,3.268987,0.427848,22.197687,0.174488
min,1.000000,0.070000,2.900000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.233705
25%,3.000000,0.700000,3.940000,774.500000,1440.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.650307
50%,6.000000,0.750000,15.260000,1039.000000,3960.000000,0.000000,0.000000,0.000000,0.000000,34.000000,0.773333
75%,9.000000,0.800000,24.260000,1252.500000,6960.000000,50.000000,0.000000,0.000000,0.000000,57.000000,0.850253
max,12.000000,0.800000,54.560000,23122.000000,25920.000000,3600.000000,300.000000,45.000000,2.000000,89.000000,1.120437

In [8]:
df.describe(include='object')

             date   quarter department        day
count        1197      1197       1197       1197
unique         59         5          3          6
top     3/11/2015  Quarter1     sweing  Wednesday
freq           24       360        691        208

In [9]:
df['team'].mean()

6.426900584795321

In [10]:
df['targeted_productivity'].mean()

0.7296324143692557

In [11]:
df['smv'].mean()

15.062172096908968

In [12]:
df['wip'].mean()

1190.4659913169319

In [13]:
df['over_time'].mean()

4567.460317460317

In [14]:
df['incentive'].mean()

38.21052631578947

In [15]:
df['idle_time'].mean()

0.7301587301587301

In [16]:
df['idle_men'].mean()

0.3692564745196324

In [17]:
df['no_of_style_change'].mean()

0.15037593984962405

In [18]:
df['no_of_workers'].mean()

34.60985797827903

In [19]:
df['actual_productivity'].mean()

0.7350910969791158

In [20]:
df['team'].mode()

0    2
1    8
dtype: int64

In [21]:
df['targeted_productivity'].mode()

0    0.8
dtype: float64

In [22]:
df['smv'].mode()

0    3.94
dtype: float64

In [23]:
df['wip'].mode()

0    1039.0
dtype: float64

In [24]:
df['over_time'].mode()

0    960
dtype: int64

In [25]:
df['incentive'].mode()

0    0
dtype: int64

In [26]:
df['idle_time'].mode()

0    0.0
dtype: float64

In [27]:
df['idle_men'].mode()

0    0
dtype: int64

In [28]:
df['no_of_style_change'].mode()

0    0
dtype: int64

In [29]:
df['no_of_workers'].mode()

0    8.0
dtype: float64

In [30]:
df['actual_productivity'].mode()

0    0.800402
dtype: float64

In [31]:
df['team'].median()

6.0

In [32]:
df['targeted_productivity'].median()

0.75

In [33]:
df['smv'].median()

15.26

In [34]:
df['wip'].median()

1039.0

In [35]:
df['over_time'].median()

3960.0

In [36]:
df['incentive'].median()

0.0

In [37]:
df['idle_time'].median()

0.0

In [38]:
df['idle_men'].median()

0.0

In [39]:
df['no_of_style_change'].median()

0.0

In [40]:
df['no_of_workers'].median()

34.0

In [41]:
df['actual_productivity'].median()

0.773333333

In [42]:
df['team'].std()

3.463963284992192

In [43]:
df['targeted_productivity'].std()

0.09789096325790585

In [44]:
df['smv'].std()

10.943219199514333

In [45]:
df['wip'].std()

1837.4550011056342

In [46]:
df['over_time'].std()

3348.823562883226

In [47]:
df['incentive'].std()

160.18264279560253

In [48]:
df['idle_time'].std()

12.709756518546547

In [49]:
df['idle_men'].std()

3.26898732417817

In [50]:
df['no_of_style_change'].std()

0.4278478565061976

In [51]:
df['no_of_workers'].std()

22.19768668225038

In [52]:
df['actual_productivity'].std()

0.17448790350939525

In [53]:
df['team'].sum()

7693

In [54]:
df['targeted_productivity'].sum()

873.37

In [55]:
df['smv'].sum()

18029.42

In [56]:
df['wip'].sum()

822612.0

In [57]:
df['over_time'].sum()

5467250

In [58]:
df['incentive'].sum()

45738

In [59]:
df['idle_time'].sum()

874.0

In [60]:
df['idle_men'].sum()

442

In [61]:
df['no_of_style_change'].sum()

180

In [62]:
df['no_of_workers'].sum()

41428.0

In [63]:
df['actual_productivity'].sum()

879.904043084

In [64]:
df['date'].count()

1197

In [65]:
df['quarter'].count()

1197

In [66]:
df['department'].count()

1197

In [67]:
df['day'].count()

1197

In [68]:
df['team'].count()

1197

In [69]:
df['targeted_productivity'].count()

1197

In [70]:
df['smv'].count()

1197

In [71]:
df['wip'].count()

691

In [72]:
df['over_time'].count()

1197

In [73]:
df['incentive'].count()

1197

In [74]:
df['idle_time'].count()

1197

In [75]:
df['idle_men'].count()

1197

In [76]:
df['no_of_style_change'].count()

1197

In [77]:
df['no_of_workers'].count()

1197

In [78]:
df['actual_productivity'].count()

1197

### Or we can use iloc to find mean, sum ..

In [79]:
df.iloc[:,4:].sum()

team                     7.693000e+03
targeted_productivity    8.733700e+02
smv                      1.802942e+04
wip                      8.226120e+05
over_time                5.467250e+06
incentive                4.573800e+04
idle_time                8.740000e+02
idle_men                 4.420000e+02
no_of_style_change       1.800000e+02
no_of_workers            4.142800e+04
actual_productivity      8.799040e+02
dtype: float64

In [80]:
df.iloc[:,4:].std()

team                        3.463963
targeted_productivity       0.097891
smv                        10.943219
wip                      1837.455001
over_time                3348.823563
incentive                 160.182643
idle_time                  12.709757
idle_men                    3.268987
no_of_style_change          0.427848
no_of_workers              22.197687
actual_productivity         0.174488
dtype: float64

In [81]:
df.iloc[:,4:].mode()

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,2,0.8,3.94,1039.0,960.0,0.0,0.0,0.0,0.0,8.0,0.800402
1,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
df.iloc[:,4:].median()

team                        6.000000
targeted_productivity       0.750000
smv                        15.260000
wip                      1039.000000
over_time                3960.000000
incentive                   0.000000
idle_time                   0.000000
idle_men                    0.000000
no_of_style_change          0.000000
no_of_workers              34.000000
actual_productivity         0.773333
dtype: float64

In [83]:
df.iloc[:,4:].mean()

team                        6.426901
targeted_productivity       0.729632
smv                        15.062172
wip                      1190.465991
over_time                4567.460317
incentive                  38.210526
idle_time                   0.730159
idle_men                    0.369256
no_of_style_change          0.150376
no_of_workers              34.609858
actual_productivity         0.735091
dtype: float64

#### How many missing values in each column?

In [84]:
df.isnull().sum()

date                       0
quarter                    0
department                 0
day                        0
team                       0
targeted_productivity      0
smv                        0
wip                      506
over_time                  0
incentive                  0
idle_time                  0
idle_men                   0
no_of_style_change         0
no_of_workers              0
actual_productivity        0
dtype: int64

In [85]:
df['quarter'].value_counts()

Quarter1    360
Quarter2    335
Quarter4    248
Quarter3    210
Quarter5     44
Name: quarter, dtype: int64

In [86]:
df['department'].value_counts()

sweing        691
finishing     257
finishing     249
Name: department, dtype: int64

In [87]:
df['day'].value_counts()

Wednesday    208
Sunday       203
Tuesday      201
Monday       199
Thursday     199
Saturday     187
Name: day, dtype: int64

#### Subset your DataFrame based on one condition

In [88]:
# selecting rows based on condition
df1 = df[df['over_time'] > 4500]
df1

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
5,1/1/2015,Quarter1,sweing,Thursday,7,0.80,25.90,984.0,6720,38,0.0,0,0,56.0,0.800125
7,1/1/2015,Quarter1,sweing,Thursday,3,0.75,28.08,795.0,6900,45,0.0,0,0,57.5,0.753683
8,1/1/2015,Quarter1,sweing,Thursday,2,0.75,19.87,733.0,6000,34,0.0,0,0,55.0,0.753098
9,1/1/2015,Quarter1,sweing,Thursday,1,0.75,28.08,681.0,6900,45,0.0,0,0,57.5,0.750428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187,3/11/2015,Quarter2,sweing,Wednesday,4,0.75,26.82,1054.0,7080,45,0.0,0,0,59.0,0.750051
1188,3/11/2015,Quarter2,sweing,Wednesday,5,0.70,26.82,992.0,6960,30,0.0,0,1,58.0,0.700557
1189,3/11/2015,Quarter2,sweing,Wednesday,8,0.70,30.48,914.0,6840,30,0.0,0,1,57.0,0.700505
1190,3/11/2015,Quarter2,sweing,Wednesday,6,0.70,23.41,1128.0,4560,40,0.0,0,1,38.0,0.700246
1191,3/11/2015,Quarter2,sweing,Wednesday,7,0.65,30.48,935.0,6840,26,0.0,0,1,57.0,0.650596

#### Subset your DataFrame based on two different conditions

In [89]:
df2 = df[(df['over_time'] < 4500) & (df['department'] == ('sweing'))]
df2

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
2,1/1/2015,Quarter1,sweing,Thursday,11,0.8,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.8,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.8,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382
12,1/1/2015,Quarter1,sweing,Thursday,5,0.8,11.41,668.0,3660,50,0.0,0,0,30.5,0.707046
48,1/4/2015,Quarter1,sweing,Sunday,4,0.8,28.08,878.0,4260,50,0.0,0,0,55.5,0.800598
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1136,3/9/2015,Quarter2,sweing,Monday,11,0.8,11.41,357.0,3420,50,0.0,0,0,58.0,0.800035
1158,3/10/2015,Quarter2,sweing,Tuesday,12,0.8,15.26,1069.0,4080,63,0.0,0,0,34.0,0.800402
1160,3/10/2015,Quarter2,sweing,Tuesday,11,0.8,11.41,338.0,3420,50,0.0,0,0,58.0,0.800035
1178,3/11/2015,Quarter2,sweing,Wednesday,12,0.8,15.26,470.0,4080,63,0.0,0,0,34.0,0.800402
1180,3/11/2015,Quarter2,sweing,Wednesday,11,0.8,11.41,560.0,3420,50,0.0,0,0,58.0,0.800035

#### Subset your DataFrame based on three different conditions

In [90]:
df3 = df[(df['no_of_style_change'] == 2 ) & (df['smv'] >= 15) & (df['idle_time'] <= 7)]
df3

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
798,2/16/2015,Quarter3,sweing,Monday,8,0.70,30.10,7.0,7080,27,2.0,10,2,59.0,0.621972
818,2/17/2015,Quarter3,sweing,Tuesday,8,0.60,29.40,179.0,0,23,5.0,30,2,58.0,0.600983
843,2/18/2015,Quarter3,sweing,Wednesday,8,0.65,29.40,962.0,4560,0,4.5,30,2,57.0,0.251399
855,2/19/2015,Quarter3,sweing,Thursday,8,0.70,29.40,1116.0,6240,0,0.0,0,2,57.0,0.700000
874,2/22/2015,Quarter4,sweing,Sunday,8,0.70,29.40,1146.0,6840,40,0.0,0,2,57.0,0.700614
878,2/22/2015,Quarter4,sweing,Sunday,3,0.70,30.10,1041.0,8160,33,0.0,0,2,58.0,0.626578
895,2/23/2015,Quarter4,sweing,Monday,8,0.70,29.40,1094.0,6840,40,0.0,0,2,57.0,0.700614
896,2/23/2015,Quarter4,sweing,Monday,3,0.70,29.40,1228.0,6960,30,0.0,0,2,58.0,0.700362
912,2/24/2015,Quarter4,sweing,Tuesday,3,0.75,29.40,1172.0,5340,45,0.0,0,2,60.0,0.750177
916,2/24/2015,Quarter4,sweing,Tuesday,8,0.70,29.40,1079.0,4560,40,0.0,0,2,58.0,0.700519
929,2/25/2015,Quarter4,sweing,Wednesday,7,0.80,30.10,786.0,7080,50,0.0,0,2,59.0,0.800116
932,2/25/2015,Quarter4,sweing,Wednesday,3,0.75,29.40,1283.0,6960,45,0.0,0,2,58.0,0.750207
935,2/25/2015,Quarter4,sweing,Wednesday,10,0.70,21.82,1653.0,6240,0,0.0,0,2,52.0,0.700058
950,2/26/2015,Quarter4,sweing,Thursday,3,0.75,29.40,1244.0,6840,45,0.0,0,2,57.0,0.750474
952,2/26/2015,Quarter4,sweing,Thursday,8,0.75,29.40,916.0,6960,56,0.0,0,2,58.0,0.750207
957,2/26/2015,Quarter4,sweing,Thursday,4,0.80,30.10,437.0,7080,32,0.0,0,2,59.0,0.495618
961,2/26/2015,Quarter4,sweing,Thursday,1,0.35,26.66,1164.0,6600,23,0.0,0,2,55.0,0.378895
970,2/28/2015,Quarter4,sweing,Saturday,3,0.75,29.40,1144.0,4440,45,0.0,0,2,57.0,0.750717
972,2/28/2015,Quarter4,sweing,Saturday,8,0.75,29.40,792.0,4560,56,0.0,0,2,58.0,0.750426
979,2/28/2015,Quarter4,sweing,Saturday,1,0.50,26.66,1448.0,6840,30,0.0,0,2,57.0,0.550350
980,2/28/2015,Quarter4,sweing,Saturday,4,0.50,26.66,556.0,6960,23,0.0,0,2,58.0,0.500258

#### Use loc to slice your DataFrame for the 2 columns that returned the largest sum

In [91]:
df.iloc[:,4:]

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382
...,...,...,...,...,...,...,...,...,...,...,...
1192,10,0.75,2.90,NaN,960,0,0.0,0,0,8.0,0.628333
1193,8,0.70,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1194,7,0.65,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1195,9,0.75,2.90,NaN,1800,0,0.0,0,0,15.0,0.505889
1196,6,0.70,2.90,NaN,720,0,0.0,0,0,6.0,0.394722

Use loc to slice your DataFrame for the 2 columns that returned the largest sum

In [92]:
# the largest sum in column wip & over_time
cols = ['wip','over_time']
df7 = df.loc[:, cols]
df7

         wip  over_time
0     1108.0       7080
1        NaN        960
2      968.0       3660
3      968.0       3660
4     1170.0       1920
...      ...        ...
1192     NaN        960
1193     NaN        960
1194     NaN        960
1195     NaN       1800
1196     NaN        720

[1197 rows x 2 columns]

#### Use iloc to slice your DataFrame for the 2 columns that returned the largest mean

In [93]:
# the largest mean in column wip & over_time
df.iloc[:, 7:9]

         wip  over_time
0     1108.0       7080
1        NaN        960
2      968.0       3660
3      968.0       3660
4     1170.0       1920
...      ...        ...
1192     NaN        960
1193     NaN        960
1194     NaN        960
1195     NaN       1800
1196     NaN        720

[1197 rows x 2 columns]

#### Find 2 pandas DataFrame methods we did not cover and use them on your own data

In [94]:
df.size

17955

In [95]:
df4 = df.groupby(['day']).mean()
df4

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
day,,,,,,,,,,,
Monday,6.577889,0.729397,15.069648,2156.310345,4357.688442,100.266332,0.010050,0.050251,0.145729,34.899497,0.735488
Saturday,6.374332,0.733690,14.634920,1003.019231,4697.112299,26.657754,3.048128,0.438503,0.139037,33.497326,0.751929
Sunday,6.433498,0.737438,15.159360,1016.198276,4584.088670,24.167488,0.086207,0.443350,0.118227,34.283251,0.728604
Thursday,6.336683,0.720704,15.132764,974.025424,5202.663317,26.160804,0.062814,0.376884,0.170854,35.364322,0.722641
Tuesday,6.437811,0.727612,15.291045,1012.483051,4439.402985,26.741294,0.097015,0.472637,0.159204,34.982587,0.742701
Wednesday,6.399038,0.729087,15.055577,973.773109,4151.394231,25.543269,1.213942,0.432692,0.168269,34.569712,0.730462

In [96]:
df5 = df.groupby(['quarter']).var()
df5

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
quarter,,,,,,,,,,,
Quarter1,12.265522,0.007388,108.354252,1.056054e+07,8.384683e+06,994.827577,533.933426,18.716311,0.027081,481.144520,0.026024
Quarter2,12.105675,0.012582,126.101641,1.096293e+05,1.333545e+07,88126.981500,0.000000,0.000000,0.132952,506.691228,0.029280
Quarter3,11.178059,0.009034,129.886334,1.452864e+05,1.327605e+07,734.194327,1.012554,23.502506,0.258009,501.667493,0.030840
Quarter4,12.112773,0.008979,120.150001,1.580242e+05,1.118187e+07,817.080302,0.130534,4.116740,0.393088,477.608785,0.034590
Quarter5,13.041755,0.008034,119.853243,9.800459e+04,7.448286e+06,1710.617336,0.000000,0.000000,0.000000,538.590381,0.033801

### Research and explain the difference between a pandas Series and a pandas DataFrame.
#### Series
A Series is a one-dimensional object that can hold any data type such as integers, floats and strings. Letâ€™s take a list of items as an input argument and create a Series object for that list.

#### DataFrame
A DataFrame is a two dimensional object that can have columns with potential different types. Different kind of inputs include dictionaries, lists, series, and even another DataFrame.

###  List 2 methods that can only be used for a Series and not a DataFrame
1. add(other[, level, fill_value, axis])
Return Addition of series and other, element-wise (binary operator add).

2. agg([func, axis])
Aggregate using one or more operations over the specified axis.

3. append(to_append[, ignore_index, â€¦])
Concatenate two or more Series.